.colordash{

background-color: #222D32;

}
.gradiente {

    background-color: rgba(255, 255, 255, 0.658);

}


.logoEstilo {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  }